<div class="stars stars-1"></div>
<div class="stars stars-2"></div>
<div class="stars stars-3"></div>

<div
  class="card-timer"
  [class.visible]="loversCardIsVisible === false"
>
  <ag-timer
    *ngIf="openCardIsVisible === false"
    (onTimerEnded)="onTimerEnded()"
  ></ag-timer>
  <button
    *ngIf="openCardIsVisible"
    class="open-lovers-card-btn"
    type="button"
    (click)="openLovers()"
  >Открыть</button>
  <ag-cat></ag-cat>
</div>
<div
  class="lovers-card"
  *ngIf="loversCardIsVisible"
>
  <ag-love></ag-love>
</div>
<!-- <ag-word-square-game></ag-word-square-game> -->