

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.starship-view {
  width: 100%;
  height: 100%;
}

.roll-view {
  width: 90%;
  height: 90%;
}
