

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.starship-view {
  width: 100%;
  height: 100%;
}

.roll-view {
  width: 90%;
  height: 90%;
}

.asteroid-157x127 {
  width: 105px;
  height: 85px;
}

.asteroid-132x109 {
  width: 88px;
  height: 73px;
}

.asteroid-129x125 {
  width: 87px;
  height: 84px;
}

.asteroid-116x107 {
  width: 78px;
  height: 72px;
}

.asteroid-59x52 {
  width: 41px;
  height: 36px;
}

.asteroid-56x55 {
  width: 39px;
  height: 38px;
}

.asteroid-38x33 {
  width: 28px;
  height: 25px;
}

.asteroid-36x35 {
  width: 27px;
  height: 27px;
}

.asteroid-22x23 {
  width: 19px;
  height: 20px;
}

.asteroid-20x20 {
  width: 17px;
  height: 17px;
}
