

:host {
  width: 100%;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  overflow: hidden;

  background: #d4f4ff radial-gradient(circle at top, #c8eaf6 0%, #d4f4ff 80%, #d4f4ff 100%);
}
