@use "sass:math";

$vmax-viewport: 800;
@function convert-to-vmax($value-size, $viewport: $vmax-viewport) {
  $vmax-context: $viewport * 0.01 * 1px;
  @return math.div($value-size, $vmax-context) * 1vmax;
  @return $value-size;
}

$vmin-viewport: 390;
@function convert-to-vmin($value-size, $viewport: $vmin-viewport) {
  $vmin-context: $viewport * 0.01 * 1px;
  @return math.div($value-size, $vmin-context) * 1vmin;
  @return $value-size;
}
