<div class="page-container">
  <h1>Чинилка багов</h1>
  <p>
    Вы устали от багов?
    <br>
    Баги преследуют вас всюду?
    <br>
    Может они даже снятся вам???
    <br>
    Наше решение для вас!
  </p>
  
  <div class="area-for-code-container">
    <div *ngIf="!userCode?.length" class="area-for-code-hint">Вставьте код с вашим багом в зону и нажмите "Чинить"</div>
    <textarea
      [(ngModel)]="userCode"
      (input)="onChangeTextarea()"
      [class.active]="repairInProgress || memURL"
      class="area-for-code form-control"
    ></textarea>
  
    <div
      *ngIf="repairInProgress === true || memURL"
      class="repair-overlay"
    >
      {{ repairPhrase }}
      <img *ngIf="!repairPhrase && memURL" class="mem-image" [src]="'assets/images/' + memURL">
    </div>
  </div>
  
  <button
    type="button"
    class="fix-btn"
    [class.active]="repairInProgress"
    (click)="onClickRepair()"
  >
    {{ repairButtonLabel }}
  </button>

  <div class="turbo-checkbox-container" *ngIf="turboButtonIsVisible">
    <input
      id="turbo-checkbox"
      class="turbo-checkbox-control"
      type="checkbox"
      [(ngModel)]="turboMode"
    >
    <label for="turbo-checkbox">Режим Turbo</label>
  </div>
</div>
