<div class="snowflake-container" *ngIf="currentDayDescriptors.snowView?.snowflakesAreEnabled === true">
  <div class="snowflake" *ngFor="let snowflake of snowflakes"></div>
</div>

<div
  class="topbar"
  [class.light]="currentDayDescriptors.spaceOdysseyGame === true"
>
  <div class="day-nav-btn prev-day" [class.disabled]="activeDayIndex <= 0" (click)="moveToPrevDay()">Назад</div>
  <div class="day-nav-btn next-day" [class.disabled]="activeDayIndex >= currentDayIndex" (click)="moveToNextDay()">Вперёд</div>
  <div class="current-day">День {{ currentDay }}</div>
</div>

<div class="current-day-container" *ngIf="currentDayNotificationIsShown === true">
  <div class="current-day-block">
    <div class="day-number-block">День {{ currentDay }}</div>
    <div class="day-separator"></div>
    <div class="day-title-block">{{ currentDayDescriptors.title }}</div>
  </div>
</div>

<ag-flower-summer
  *ngIf="currentDayDescriptors.winter !== true && currentDayDescriptors.spaceOdysseyGame !== true"
  [activeFlower]="activeFlower"
></ag-flower-summer>
<ag-flower-winter
  *ngIf="currentDayDescriptors.winter === true && currentDayDescriptors.spaceOdysseyGame !== true"
  [activeFlower]="activeFlower"
  [snowdriftAreShown]="currentDayDescriptors.snowView?.snowdriftAreShown === true"
  [ufoAreShown]="currentDayDescriptors.snowView?.ufoAreShown === true"
></ag-flower-winter>
<ag-space-odyssey
  *ngIf="currentDayDescriptors.spaceOdysseyGame === true"
></ag-space-odyssey>
