

:host {
  width: 100%;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  overflow: hidden;

  background: #d4f4ff radial-gradient(circle at top, #c8eaf6 0%, #d4f4ff 80%, #d4f4ff 100%);
}

.eight-march-view {
  width: 100%;
  height: auto;
}

.flower-step {
  visibility: hidden;

  &.visible {
    visibility: visible;
  }
}

.current-day-block {
  width: 100%;

  text-align: center;
  padding: 25px 45px;
  padding-top: 0;

  .day-number-block {
    margin-bottom: 13px;

    font-family: 'Shantell Sans', cursive;
    font-size: 65px;
    font-weight: 600;
  }

  .day-title-block {
    font-family: 'Shantell Sans', cursive;
    font-size: 28px;
    font-weight: 600;
  }
}
