<div class="snowflake-container" *ngIf="currentDayDescriptors.snowflakesAreEnabled === true">
  <div class="snowflake" *ngFor="let snowflake of snowflakes"></div>
</div>

<div class="topbar">
  <div class="current-day">День {{ currentDay }}</div>
</div>

<div class="current-day-container" *ngIf="currentDayNotificationIsShown === true">
  <div class="current-day-block">
    <div class="day-number-block">День {{ currentDay }}</div>
    <div class="day-separator"></div>
    <div class="day-title-block">{{ currentDayDescriptors.title }}</div>
  </div>
</div>

<ag-flower-summer *ngIf="currentDayDescriptors.winter !== true" [activeFlower]="activeFlower"></ag-flower-summer>
<ag-flower-winter *ngIf="currentDayDescriptors.winter === true" [activeFlower]="activeFlower"></ag-flower-winter>
