

:host {
  width: 100%;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  overflow: hidden;

  background: #d4f4ff radial-gradient(circle at top, #c8eaf6 0%, #d4f4ff 80%, #d4f4ff 100%);
}

ag-flower-summer, ag-flower-winter {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

@keyframes disappearance {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@mixin DisappearanceAnimation($animation-delay: 0.3s, $animation-duration: 0.3s) {
  opacity: 1;
  animation: $animation-duration linear $animation-delay 1 normal forwards disappearance;
}

.current-day-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  background-color: white;

  @include DisappearanceAnimation(4s);
}

.current-day-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  text-align: center;
  padding-top: 0;

  .day-number-block {
    font-family: 'Shantell Sans', cursive;
    font-size: 65px;
    font-weight: 600;
  }

  .day-separator {
    height: 2px;
    width: 200px;
    background: black;

    margin-top: 25px;
    margin-bottom: 15px;
  }

  .day-title-block {
    width: 300px;

    font-family: 'Shantell Sans', cursive;
    font-size: 28px;
    font-weight: 600;
  }
}

.topbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;

  padding: 15px 25px;
  opacity: 0.8;

  .current-day {
    font-family: 'Shantell Sans', cursive;
    font-size: 28px;
    font-weight: 600;
  }
}


@function randomRange($min, $max) {
  $randValue: random();
  $randomRange: $min + floor($randValue * (($max - $min) + 1));
  @return $randomRange;
}

.snowflake-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

$total: 100;
.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;

  @for $i from 1 through $total {
    // Distributes the snowflake in 0.0001vw...100vw interval by X axis
    $random-x: random(1000000) * 0.0001vw;
    // +/- 10vw
    $random-offset: randomRange(-100000, 100000) * 0.0001vw;
    // Moves snowflake to right/left on N vw
    $random-x-end: $random-x + $random-offset;
    // And returns snowflake to right/left on N/2 vw
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    // Time when snowflake will change yoyo direction
    $random-yoyo-time: randomRange(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    // Decrease snowflake coeff. 10x10px * coeff
    $random-scale: random(10000) * 0.0001;
    // Fall duration of snowflake in 10...30s interval
    $fall-duration: randomRange(10, 30) * 1s;
    // Defines if snowflake will be visible on screen. For example snowflake will fall 20sec, if delay is 10 sec
    // snowflake will be moved to 50% of animation
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      // Every snowflake starts from -10px Y position and in random X position
      transform: translate($random-x, -10px) scale($random-scale);
      animation: snowflake-fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes snowflake-fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }
}
