<div class="flying-cloud-group shake-animation" [style.--cloud-size.px]="55" [style.bottom.px]="500" [style.left.px]="180">
  <div class="cloud-3" [style.top.px]="0" [style.left.px]="-10"></div>
  <div class="cloud-3" [style.top.px]="-25" [style.left.px]="30"></div>
  <div class="cloud-3" [style.top.px]="-5" [style.left.px]="73"></div>
  <div class="cloud-3" [style.top.px]="17" [style.left.px]="20"></div>
  <div class="cloud-3" [style.top.px]="20" [style.left.px]="88"></div>
  <div class="cloud-3" [style.top.px]="20" [style.left.px]="55"></div>
</div>

<div class="flying-cloud-group shake2-animation" [style.--cloud-size.px]="70" [style.bottom.px]="360" [style.left.px]="30">
  <div class="cloud-3" [style.top.px]="0" [style.left.px]="-10"></div>
  <div class="cloud-3" [style.top.px]="-15" [style.left.px]="30"></div>
  <div class="cloud-3" [style.top.px]="-25" [style.left.px]="73"></div>
  <div class="cloud-3" [style.top.px]="15" [style.left.px]="35"></div>
  <div class="cloud-3" [style.top.px]="12" [style.left.px]="85"></div>
</div>

<div class="flying-cloud-group shake3-animation" [style.--cloud-size.px]="60" [style.bottom.px]="250" [style.left.px]="200">
  <div class="cloud-3" [style.top.px]="0" [style.left.px]="-10"></div>
  <div class="cloud-3" [style.top.px]="-20" [style.left.px]="25"></div>
  <div class="cloud-3" [style.top.px]="-35" [style.left.px]="60"></div>
  <div class="cloud-3" [style.top.px]="-15" [style.left.px]="95"></div>
  <div class="cloud-3" [style.top.px]="10" [style.left.px]="110"></div>
  <div class="cloud-3" [style.top.px]="17" [style.left.px]="87"></div>
  <div class="cloud-3" [style.top.px]="18" [style.left.px]="56"></div>
  <div class="cloud-3" [style.top.px]="12" [style.left.px]="23"></div>
</div>

<div class="cloud-1-group shake-animation" [style.--cloud-size.px]="100">
  <div class="cloud-1" [style.top.px]="0" [style.left.px]="-15"></div>
  <div class="cloud-1" [style.top.px]="15" [style.left.px]="55"></div>
  <div class="cloud-1" [style.top.px]="0" [style.left.px]="125"></div>
  <div class="cloud-1" [style.top.px]="15" [style.left.px]="195"></div>
  <div class="cloud-1" [style.top.px]="-15" [style.left.px]="265"></div>
  <div class="cloud-1" [style.top.px]="10" [style.left.px]="330"></div>
</div>

<div class="cloud-2-group shake2-animation" [style.--cloud-size.px]="100">
  <div class="cloud-2" [style.top.px]="-25" [style.left.px]="-40"></div>
  <div class="cloud-2" [style.top.px]="0" [style.left.px]="15"></div>
  <div class="cloud-2" [style.top.px]="20" [style.left.px]="90"></div>
  <div class="cloud-2" [style.top.px]="-10" [style.left.px]="170"></div>
  <div class="cloud-2" [style.top.px]="5" [style.left.px]="245"></div>
  <div class="cloud-2" [style.top.px]="5" [style.left.px]="315"></div>
  <div class="cloud-2" [style.top.px]="-20" [style.left.px]="380"></div>
</div>

<div class="cloud-3-group shake3-animation" [style.--cloud-size.px]="100">
  <div class="cloud-3" [style.top.px]="-25" [style.left.px]="-20"></div>
  <div class="cloud-3" [style.top.px]="0" [style.left.px]="35"></div>
  <div class="cloud-3" [style.top.px]="-10" [style.left.px]="110"></div>
  <div class="cloud-3" [style.top.px]="5" [style.left.px]="165"></div>
  <div class="cloud-3" [style.top.px]="0" [style.left.px]="240"></div>
  <div class="cloud-3" [style.top.px]="-5" [style.left.px]="310"></div>
  <div class="cloud-3" [style.top.px]="0" [style.left.px]="370"></div>
</div>

<div class="bottom-cloud"></div>

<div class="heart-one">
  <div class="left-side"></div>
  <div class="right-side"></div>
</div>

<div class="heart-two">
  <div class="left-side"></div>
  <div class="right-side"></div>
</div>

<div class="heart-three">
  <div class="left-side"></div>
  <div class="right-side"></div>
</div>

<div class="heart-4">
  <div class="left-side"></div>
  <div class="right-side"></div>
</div>

<div class="heart-5">
  <div class="heart-container-5">
    <div class="left-side"></div>
    <div class="right-side"></div>
  </div>
</div>

<div class="heart-6">
  <div class="heart-container-6">
    <div class="left-side"></div>
    <div class="right-side"></div>
  </div>
</div>
