/* You can add global styles to this file, and also import other style files */
@import './font.scss';

:root {
  --bg-color: #201f1f;
  --main-color: #ffc73b;
  --main-dark-color: #f9c035;
  --main-hover-color: #f9c035;
  --error-color: red;
  --app-height: 100vh;
  --app-width: 100vw;
  --app-vmin: 100vmin;
  --app-vmax: 100vmax;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Retro Gaming', sans-serif;
  line-height: 1;

  user-select: none;
}

html, body {
  height: 100%;
  width: 100%;

  font-family: 'Retro Gaming';
  line-height: 1;
  overflow: hidden;
}

body {
  overflow: hidden;
  position: relative;
}
