
@import '../../../../shared/styles/base';

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin AppearanceAnimation($animation-delay: 0.3s, $animation-duration: 0.3s) {
  opacity: 0;
  animation: $animation-duration linear $animation-delay 1 normal forwards appearance;
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  height: 100%;
}

.love-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  height: 100%;

  @include AppearanceAnimation(0.3s, 0.5s);
}

.love-header {
  margin-bottom: 20px;

  color: white;
  font-size: 30px;
  line-height: 1.35;
  text-align: center;
  text-transform: uppercase;
}

.lovers-moon {
  max-width: 315px;
  width: 80%;
  height: auto;

  margin-bottom: 45px;
}

.lovers-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  border-bottom: 3px solid white;
  margin-bottom: 25px;
}

.lovers {
  max-width: 355px;
  width: 90%;
  height: auto;
  margin-bottom: -2px;
}

@media screen and (max-height: 844px) {
  .love-header {
    margin-bottom: convert-to-vh(20px, 844);
  
    font-size: convert-to-vh(30px, 844);
  }
  
  .lovers-moon {
    max-width: convert-to-vh(315px, 844);

    margin-bottom: convert-to-vh(45px, 844);
  }
  
  .lovers-container {
    margin-bottom: convert-to-vh(25px, 844);
  }
  
  .lovers {
    max-width: convert-to-vh(355px, 844);
  }
}